<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> 扣量设置 </title>
  #parse("common.vm")
  <script type="text/javascript" src="/js/旺财狗/联盟设置/扣量设置/Toolbar.js"></script>
  <script type="text/javascript" src="/js/旺财狗/联盟设置/扣量设置/FormPanel.js"></script>
  <script type="text/javascript" src="/js/旺财狗/联盟设置/扣量设置/Main.js"></script>
 </head>
 <body>
	
 </body>
</html>