.newOpt { background: url(/images/icon/001/News-Add.gif) left top no-repeat;}
.lockico { background: url(/images/icon/033/182.gif) left top no-repeat;}
.activate { background: url(/images/icon/033/013.gif) left top no-repeat;}
.cancelOpt { background: url(/images/icon/001/cancel.png) left top no-repeat;}
.okOpt { background: url(/images/icon/033/203.gif) left top no-repeat;}
.searchOpt { background: url(/images/icon/001/Search.png) left top no-repeat;}
.refreshOpt { background: url(/images/icon/001/refresh.png) left top no-repeat;}
.ViewOpt { background: url(/images/icon/001/view.gif) left top no-repeat;}
.DownLoad { background: url(/images/icon/001/basket_put.png) left top no-repeat;}
.UpLoad { background: url(/images/icon/001/upload_.png) left top no-repeat;}
.SaveOpt { background: url(/images/icon/001/Save.gif) left top no-repeat;}
.LogoutOpt { background: url(/images/icon/001/logout.png) left top no-repeat;}
.DelIco { background: url(/images/icon/001/News-Del.gif) left top no-repeat;}
.EditIco { background: url(/images/icon/001/News-Edit.gif) left top no-repeat;}
.SelectIco { background: url(/images/icon/001/select.png) left top no-repeat; background-size: 16px 16px;}
.ChartIco { background: url(/images/icon/001/chart_bar.png) left top no-repeat; background-size: 16px 16px;}